*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282c34;
    color: white;
}
.slideshow{
    width: 500px;
    height: 300px;
    border: 2px solid white;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.slideshow .slides{
    display: flex;
    width: 200%;
    height: 100%;
    animation: slide 5s infinite ease-in-out;

}
.slideshow .slides img{
    width: 50%;
    height: 100%;
    object-fit: cover;
}

@keyframes slide{
    0%{
        transform: translateX(0);
        opacity: 1;
    }
    20%{
        transform: translateX(0);
        opacity: 1;
    }
    25%{
        transform: translateX(-50%);
        opacity: 0.5;
    }
    50%{
        transform: translateX(-50%);
        opacity: 0.5;
    }
    55%{
        transform: translateX(0);
        opacity: 1;
    }
    80%{
        transform: translateX(0);
        opacity: 1;
    }
    85%{
        transform: translateX(-50%);
        opacity: 0.5;
    }
    100%{
        transform: translateX(-50%);
        opacity: 0.5;
    }
}